@import "tailwindcss";

:root {
  --background: #fff;
  --primary: #16346A;
  --secondary: #1976D2;
  --terciary: #F4C430;

  --background-primary: #16346A;
  --background-header: #10375c78;

  --gradient: linear-gradient(90deg, #F4C430 0%, #FFD700 100%);
  --gradient-button: linear-gradient(90deg, #2ED1EE 0%, #0DC6E6 100%);;
  --gradient-whatsapp:  linear-gradient(90deg, #40F76F 0%, #1F9939 100%);
  --gradient-bg: linear-gradient(180deg, #1E4386 0%, #0F316D 100%);


  --text-primary: #fff;
  --text-secondary: #1E1E1E;
  --text-gradient: linear-gradient(90deg, #16346A 0%, #1C59C8 50.48%, #16346A 100%);

  --font-secondary: "Noto Sans", sans-serif;
  --font-terciary: "Inter", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --secondary: var(--secondary);
  --text-secondary: var(--text-secondary);
  --gradient: var(--gradient);
  --gradient-2: var(--gradient-2);
  --gradient-whatsapp: var(--gradient-whatsapp);
  --terciary: var(--terciary);
}

body{
  background-color: var(--background);
  color: var(--text-primary);
  font-family: "Montserrat", sans-serif;
}

h1, h2, p, span{
  font-family: "Montserrat", sans-serif;
}

main{
  padding-top: 80px;
}

.link-svg-hover > svg > path {
  transition: 0.2s all;
}

.link-svg-hover:hover > svg > path {
  fill: var(--terciary);
}

.grandient {
  background: var(--gradient);
}

.button-gradient {
  background: var(--gradient-button);
}

.bg-grandient{
  background: var(--gradient-bg);
}

.shadow-image{
  box-shadow: 0px 0px 10px 0px #00000012;
  box-shadow: 0px 20px 25px -5px #0000001A;
}

.shadow-button{
  box-shadow: 0px 7.03px 19.53px 0px #0000000F;
}

.swiper-pagination-bullet{
    background-color: #BABABA;
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 50%;
    box-shadow: 0px 7.03px 19.53px 0px #0000000F;

}

.swiper-pagination-bullet-active{
  background-color: #6BE9FF;
  border: 1px solid #0080FF;
}

.swiper-button-disabled{
  background-color: #595959;
}

.bg-gradient-whatsapp{
  background: var(--gradient-whatsapp);
}

.text-gradient{
  background: var(--text-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}